{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Listado de autores<h2><br>
<h3></h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Fecha Fallecimiento</th>
            <th scope="col">Activo</th>
            <th scope="col">Editar</th>
            <th scope="col"></th>
            <th scope="col">Frases</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autores %}
        <tr>
            <td scope="row">
                <a href="{% url 'autores:autor_por_id' autor.id %}">
                    <img src="{{ autor.foto.url }}" width="50px"/>
                </a>
            </td>
            <td>{{autor.id}}</td>
            <td>{{autor.nombre}}</td> 
            <td>{{autor.fecha_nacimiento}}</td> 
            <td>{{autor.fecha_fallecimiento}}</td>
            <td>
                {% if autor.activo %}
                    <img src="{% static 'img/verde.png' %}" alt="ACTIVO" width="30px" />
                {% else %}
                    <img src="{% static 'img/rojo.png' %}" alt="INACTIVO" width="30px" />
                {% endif %}
            </td>
            <td>
                <a href="{% url 'autores:autor_actualizar' autor.pk %}">
                    <img src="{% static 'img/editar.png' %}" alt="Modificar" width="30px" />
                </a>
            </td>
            <td>{{autor.frase_set.count}}</td>
            <td>{% for texto in autor.frase_set.all %}
                <ul>
                    <li>{{texto}}</li>
                </ul>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

