{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="alert alert-warning" role="alert">
    <h2 class="my-4">Crear o actualizar datos del autor</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-dark table-striped">
            <tr>
                <td>Nombre:</td>
                <td>{{form.nombre}}</td>
            </tr>
            <tr>
                <td>Fecha de Nacimiento:</td>
                <td>{{form.fecha_nacimiento}}</td>                
            </tr>
            <tr>
                <td>Fecha de Fallecimiento:</td>
                <td>{{form.fecha_fallecimiento}}</td>                
            </tr>
            <tr>
                <td>Está Activo?</td>
                <td>{{form.activo}}</td>
            </tr>
            <tr>
                <td>Foto:</td>
                <td>{{form.foto}}</td>
        </table>
        <button type="submit" class="btn btn-outline-primary m-3">Guardar</button>
        <a class="btn btn-outline-primary m-3" href="{% url 'autores:autores_list' %}"> -- Volver al listado --</a>
    </form>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
    {% endif %}
    </ul>
</section> 
{% endblock content %}

{% comment %} 
<form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
{% endcomment %}